*{
box-sizing:border-box;
}


.auth-container{


min-height:100vh;

display:flex;

background:linear-gradient(
135deg,
#5B4BFF,
#ECEBFF
);


align-items:center;

justify-content:center;


}



.auth-left{


width:50%;

color:white;

padding:60px;


}



.brand{


font-size:32px;

font-weight:800;

}



.brand span{

color:#ECEBFF;

}



.auth-left h1{


font-size:45px;

margin-top:40px;


}



.auth-left p{


font-size:18px;

line-height:1.6;

width:450px;


}



.illustration{


margin-top:50px;

font-size:90px;


}




.auth-card{


background:#FFFFFF;

width:420px;

padding:40px;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,0.15);


}



.auth-card h2{


text-align:center;

color:#111827;

font-size:30px;


}



.subtitle{


text-align:center;

color:gray;

}



.auth-card input{


width:100%;

padding:15px;

margin:12px 0;

border:1px solid #ddd;

border-radius:10px;

outline:none;


}



.main-btn{


width:100%;

padding:15px;

background:#5B4BFF;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;


}



.main-btn:hover{

background:#061B3A;

}




.divider{


display:flex;

align-items:center;

gap:10px;

margin:25px 0;

color:gray;

}



.divider span{


height:1px;

background:#ddd;

flex:1;


}



.social{


width:100%;

padding:13px;

margin-bottom:12px;

border-radius:10px;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

cursor:pointer;

background:white;


}



.google{


border:1px solid #ddd;

}



.microsoft{


border:1px solid #ddd;

}



.bottom-text{


text-align:center;

margin-top:20px;


}



.bottom-text span{

color:#5B4BFF;

font-weight:600;

cursor:pointer;


}