.admin-page{


margin-left:250px;

padding:30px;

background:#F8FAFF;

min-height:100vh;


}



.admin-page h1{


color:#111827;


}



.admin-stats{


display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;


}




.admin-card{


background:white;

padding:25px;

border-radius:20px;

text-align:center;


}



.admin-card svg{


font-size:30px;

color:#5B4BFF;


}



.admin-card h2{


color:#10B981;


}




.admin-section,
.verification{


background:white;

padding:30px;

border-radius:20px;

margin-top:30px;


}



.graph{


font-size:20px;

line-height:2;

color:#5B4BFF;


}



.request{


padding:15px;

background:#F8FAFF;

margin-top:15px;

border-radius:10px;

display:flex;

justify-content:space-between;


}



.request button{


background:#10B981;

color:white;

border:none;

padding:8px 20px;

border-radius:8px;


}